*{margin: 0; padding: 0; box-sizing: border-box;}

html, body{
    width: 100%;
    background-color: #fff;
    font-family: sans-serif;
}
main{
    display: flex;
    flex-direction: row;
}
.createTask{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 3rem;
    padding: 1rem;
    background-color: rgb(235, 232, 232);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.componentStyle{
    width: 95%;
    padding: 0.4rem;
    margin: 0.3rem;
}